:root{
    --primary-color: #C09342;
    --secondary-color: #091D1C;

    --primary-bg: #341202;
    --secondary-bg: #270d02;;

    --primary-family: "Crimson Text", sans-serif;
    --secondary-family: "Josefin Sans", sans-serif;
}

@font-face {
    font-family: "Crimson Text";
    src: url(../fonts/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: "Josefin Sans";
    src: url(../fonts/JosefinSans-ExtraLight.ttf);
}

body{
    background-color: var(--primary-bg);
    color: #fff;
    font-family: "Crimson Text";
    flex-shrink: 0;
}

.container nav section footer{
    margin-inline: auto;
}

.book-now__button button, 
.about-us__center--button button, 
.category__cards-3--button button,
.about-us__center--button button{
    width: 142px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid var(--primary-color);
    font-family: var(--primary-family);
    background-color: transparent;
    text-transform: capitalize;
    color: #FFF;
    font-family: "Crimson Text";
    font-size: 16px;
}

.book-now__button button img, 
.category__cards-3--button button svg,
.about-us__center--button img{
    margin-left: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 36px 150px 36px;
    background-color: var(--primary-bg);
    z-index: 2;
}

.navbar__logo{
    width: 50px;
    height: 40px;
}

.navbar__logo img{
    width: 150px;
    position: absolute;
    top: 0;
}

.navbar__logo img:hover{
    filter: sepia(1);
    transition: .3s ease;
}

.navbar__pages{
    width: 38%;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.8px;
    margin-block: auto;
    position: relative;
}
.show{
    width: 125px;
    text-align: center;
}

.hide{
    display: none;
    width: 125px;
    height: 100px;
    z-index: 2;
    position: absolute;
    
}

.show:hover + .hide, .hide:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
    background-color: var(--primary-bg);
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent 40%, var(--primary-color) 10%);
    border-image-slice: 1;
}

.navbar__pages ul{
    display: flex;
    justify-content: space-between;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}
ul li a:hover {
    color: var(--primary-color);
}

.navbar__button button{
    cursor: pointer;
    border: 0;
    color: #fff;
    width: 149px;
    height: 45px;
    border-radius: 100px;
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.navbar__button button:hover{
    background-color: #bc8828;
    transition: .3s ease;
}

.navbar__stripe{
    position: fixed;
    z-index: 2;
}

.stripe{
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    z-index: 1;
}

.book-now{
    padding: 50px 100px 0;
}

.book-now__title{
    width: 558px;
    color: var(--primary-color);
    font-size: 70px;
    line-height: 80px;
    text-transform: capitalize;
    margin-right: 125px;
    display: inline-block;
    margin-left: 50px;
}

.book-now__title span{
    color: #fff;
}

.book-now__subtitle{
    width: 575px;
    vertical-align: top;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    font-family: var(--secondary-family);
    display: inline-block;
}

.book-now__button button{
    float: right;
}

.book-now__decor{
    margin: 80px 0 50px;
}

.book-now__images{
    display: flex;
    position: relative;
    margin-bottom: 23px;
}

.book-now__images--left img{
    max-width: 705px;
    height: 500px;
    border-radius: 30px;
}

.book-now__images--right svg{
    position: absolute;
    top: -275px;
    padding-left: 20px;
}

.about-us{
    margin: 95px 0 150px 0;
    display: flex;
}

.about-us__left{
    position: relative;
    margin: 79px 60px 0 0;
}

.about-us__left img:first-child{
    width: 594px;
    height: 594px;
    margin-left: 60px;
    position: relative;
}

.about-us__left img:last-child{
    width: 392px;
    /* z-index: -1; */
    position: absolute;
    right: -10px;
    bottom: 0;
}

.about-us__center{
    width: 357px;
    margin: 75px 190px 0 0;
    display: flex;
    flex-direction: column;
}

.about-us__center .spork{
    width: 56px;
    height: 42px;
}

.about-us__center--title{
    color: var(--primary-color);
    font-size: 60px;
    line-height: 74px;
    text-transform: capitalize;
    margin-bottom: 26px;
}

.about-us__center--subtitle{
    font-family: var(--secondary-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 18px;
}

.about-us__center--description{
    text-transform: capitalize;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 54px;
}

.about-us__right{
    position: relative;
    margin-top: 272px;
}

.about-us__right img:first-child{
    position: absolute;
    top: -300px;
    right: -160px;
}

.about-us__right img:nth-child(2){
    width: 415px;
    height: 525px;
    border-radius: 30px;
}

.about-us__right p{
    font-size: 110px;
    line-height: 128px;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    left: -170px;
}

.category{
    margin-block: 140px;
}

.category__title{
    font-size: 80px;
    margin: 0 0 150px 70px;
}

.category__cards{
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.category__cards div img{
    background-color: aquamarine;
    height: 543px;
}

.category__cards-1 img{
    width: 280px;
    border-radius: 0 20px 20px 0;
    margin-right: 40px;
}

.category__cards-2 img{
    width: 413px;
    border-radius: 20px 0 0 20px;
    border: 1px solid var(--primary-color);
    border-right: 0;
}

.category__cards-3{
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 498px;
    padding: 44px 50px 0;
    border-radius: 0 20px 20px 0;
    border: 1px solid var(--primary-color);
    border-left: 0;
    background-color: #270d02;
    margin-right: 40px;
}

.category__cards-3--title{
    color: var(--primary-color);
    font-size: 32px;
    line-height: 42px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.category__cards-3--subtitle{
    font-family: var(--secondary-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 40px;
}

.category__cards-3--button button{
    width: 164px;
}

.category__cards-4 img{
    width: 415px;
    border-radius: 20px;
    margin-right: 40px;
}

.category__cards-5 img{
    width: 360px;
    border-radius: 20px 0 0 20px;
    position: absolute;
}

.us{
    margin: 120px 0 120px 200px;
}

.us__title{
    font-size: 80px;
    line-height: 128px;
    margin-bottom: 33px;
}

.us__content{
    display: flex;
}

.us__content-image img{
    width: 560px;
    height: 677px;
    border-radius: 30px;
    margin-right: 80px;
}

.us__content-desc{
    display: flex;
    flex-direction: column;
    max-width: 860px;
}

.us__content-desc--title{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 26px;
}

.us__content-desc--subtitle{
    font-family: var(--secondary-family);
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 33px;
}

.us__content-categories{
    max-height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 42px;
    margin-bottom: 65px;
}

.us__content-categories p{
    color: #C9C9C9;
    font-size: 18px;
    line-height: 35px;
}

.us__content-categories div{
    display: flex;
}

.us__content-categories img{
    width: 35px;
    height: 28px;
    margin: 15px 30px 0 0;
    
}
